<!doctype html>
<head>
	<title>Index of {{Path}}</title>
	<style>
		.files td {
			padding: 0em 0.5em;
		}
		.files tbody {
			font-family: monospace;
		}
		.files thead td {
			background-color: #ddd;
		}
		.files tbody tr:nth-child(2n) td {
			background-color: #eee;
		}
	</style>
</head>
<h1>Index of {{Path}}</h1>
<table class="files">
	<thead>
		<td>Type</td>
		<td>Name</td>
		<td>sha</td>
	</thead>
	{{#Files}}
	<tr>
		<td>{{#IsDir}}D{{/IsDir}}{{^IsDir}}F{{/IsDir}}</td>
		<td><a href="{{Name}}{{#IsDir}}/{{/IsDir}}">{{Name}}</a></td>
		<td>{{ID}}</td>
	</tr>
	{{/Files}}
</table>
